

* {
    
    background-color: black; 

    font-size: 25px;
    
    color: white;

    font-family: "Katamari_King";

    margin: 100px;

    margin-top:0px;

}

h1 { 

    font: size 200px;

    background-color: rgb(36, 166, 170);
    
    text-align: center;

    margin-bottom: 40px;

    padding: 20px;


}

a:link {

    color: rgb(0, 255, 0);

    text-decoration: underline;


}

a:visited {

    color:grey;

    text-decoration: none;


}

hr {

    height: 1px;

    margin: 40px;
    
}

img{

    padding-top: 20px;

    padding-bottom:20px;

    width:250px;

    height:250px;

}

p {


    text-align: justify;


}

table, th, td {

    border: 1px solid white;

    border-collapse: collapse;

    width:100%;

    padding: 5px;

    margin-bottom: 25px;

    text-align:center

}

td {

    background-color: rgb(44, 44, 44);

}


@font-face {
    font-family: "Katamari_King";
    src: url("../style/Font/katamariking-Katamari_King.eot");
    src: url("../style/Font/katamariking-Katamari_King.woff") format("woff"),
    url("../style/Font/KatamariKing.ttf") format("truetype"),
    url("../style/Font/katamariking-Katamari_King.svg") format("svg");
    }

iframe {

    border: 3px solid rgb(35, 46, 46);

    width: 700px;

    height: 800px;

    background-color:rgb(0, 0, 255);

    margin: auto;

    display: flex;

    justify-content: space-around;

    font-size: 20px;
}